accelerate==0.26.1
albumentations==1.3.1
animus==0.0.2
clahe==0.1
click==8.1.7
comet_ml==3.36.1
Cython==3.0.8
easydict==1.11
guided_filter_pytorch==3.7.5
matplotlib==3.8.2
numpy==1.26.4
omegaconf==2.3.0
opencv_contrib_python==4.9.0.80
opencv_python_headless==4.9.0.80
pandas==2.2.2
Pillow==10.3.0
PyExifTool==0.5.6
python-dotenv==1.0.1
PyYAML==6.0.1
PyYAML==6.0.1
rich==13.7.1
safetensors==0.4.3
scipy==1.13.0
segment_anything==1.0
segmentation_models_pytorch==0.3.3
setuptools>=70.0.0
skimage==0.0
torch==2.2.0
torchvision==0.16.2
tqdm>=4.66.3
